<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="keywords" content="error,incorrect, 404">
        <meta name="description" content="Error 404!">
        
        <title>Error 403</title>
        <%- include("../fragmente/head") %>
        
    </head>
    

    <body>
        
        <%- include("../fragmente/header") %> <!--afiseaza rezultatul functiei apelate  < % - e functie de ejs  -->
        
        <main>
            <section class="error">
                <h1>Error 403: accessing private information</h1>
                <img class="errorimg" src="/Resurse/Imagini/404error.png" alt="Error">
            </section>
        </main>
        
        <br>

        <%- include("../fragmente/footer") %> 


        <div class="disclaimer">
            <p>DISCLAIMER : THIS IS A SCHOOL PROJECT, SO IT IS NOT MEANT TO BE A PRODUCT!</p>
        </div>



    </body>


</html>