<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="keywords" content="IndieChest, company, data, information">
        <meta name="description" content="Information about the company">
        
        <title>Company</title>
        <%- include("../fragmente/head") %>
        
    </head>
    

    <body>
        
        <%- include("../fragmente/header") %> <!--afiseaza rezultatul functiei apelate  < % - e functie de ejs  -->
        
        <main>
            <section>
                <h1>IndieChest INC.</h1>
                <p>Founded in 2021.</p>
                <p>Team: Buga Andrei</p>
                <p>Revenue: 0$</p>
                <p>Copyrighted.</p>
            </section>
        </main>
        
        <br>

        <%- include("../fragmente/footer") %> 


        <div class="disclaimer">
            <p>DISCLAIMER : THIS IS A SCHOOL PROJECT, SO IT IS NOT MEANT TO BE A PRODUCT!</p>
        </div>



    </body>


</html>