<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="keywords" content="login, log in, e-mail, password, portal">
        <meta name="description" content="Log in to your Indie Chest account!">
        
        <title>Log in</title>
        <%- include("../fragmente/head") %>
        
    </head>
    

    <body>
        
        <%- include("../fragmente/header") %> <!--afiseaza rezultatul functiei apelate  < % - e functie de ejs  -->

        <main>
            <section>
                <h2>Log in</h2>
            </section>
        </main>
        
        <br>

        <%- include("../fragmente/footer") %> 

        <div class="disclaimer">
            <p>DISCLAIMER : THIS IS A SCHOOL PROJECT, SO IT IS NOT MEANT TO BE A PRODUCT!</p>
        </div>



    </body>


</html>