<footer>
    <!--EX13-->
    <h4>Contact</h4>
    <address>
        
        <!--EX11-->
        Site created by <a href="mailto:andreibuga63@gmail.com" target="_blank">Buga Andrei</a> 
        <br>
        For any questions you can contact him directly.
        Also check him out on <a href="https://www.instagram.com/andrei_ul_din_vecini/" target="_blank"> instagram</a>
        <br>
        Telephone:
        <a href="tel:099999999"> 099999999</a>
        <!--EX11-->

        <br>

        <!--EX14-->
        <small>

            &copy; IndieChest 
            <br>
            <time datetime="2021-03-04T20:00">04-03-2021 20:00</time>

        </small>
        <!--EX14-->

    </address>
    <!--EX13-->

    <br>

    <!--EX11-->
        
    <div class="topLink" onclick= "location.href = '#'; " style="cursor: pointer;">

        <span class="toolTip">Back Top</span>
        <div class="triangle" onclick= "location.href = '#'; " style="cursor: pointer;"></div>
        

    </div>
    
    <!--EX11-->
    
</footer>