<header>

            
            
    <!--EX6-->
    <nav>

        <label class="hamburger" for="burger_check">
            <i class="fa fa-bars"></i>
        </label>
        <input id="burger_check" type="checkbox">

        <ul class="menu_container">
            <!-- onclick="location.href='/index'"; style="cursor: pointer;" asta venea dupa li imediat de jos-->
            <li class="menu_item">
                
                <a class="home_text" href="/"><span class='icon'></span> Home</a>
                <a class="home_icon" href="/"><span class='icon'></span></a>
                <ul class="submenu_container">
                    <li class="submenu_item" onclick="location.href='/#about'"; style="cursor: pointer;"><a href="/#about">About</a> </li>
                    <li class="submenu_item" onclick="location.href='/#news'"; style="cursor: pointer;"><a href="/#news">News</a> </li>
                    <li class="submenu_item" onclick="location.href='/#faq'"; style="cursor: pointer;"><a href="/gallery">Gallery</a> </li>
                    <li class="submenu_item" onclick="location.href='/#featured'"; style="cursor: pointer;"><a href="/#featured">Featured Game this week</a> </li>
                    <li class="submenu_item" onclick="location.href='/#faq'"; style="cursor: pointer;"><a href="/#faq">F.A.Q</a> </li>
                    <li class="submenu_item" onclick="location.href='/firma'"; style="cursor: pointer;"><a href="/firma">Company</a> </li>
                </ul>
            </li>
            <li class="menu_item"; style="cursor: pointer;">
                <a href="/games">Games</a>
                <ul class="submenu_container">
                    <li class="submenu_item" onclick="location.href='/games'"; style="cursor: pointer;"> <a href="/games">All games</a></li>
                    <li class="submenu_item" onclick="location.href='/gamesbygenre'"; style="cursor: pointer;"> <a href="/games?categ=Action">Action</a> </li>
                    <li class="submenu_item" onclick="location.href='/gamesbygenre'"; style="cursor: pointer;"> <a href="/games?categ=FPS">FPS</a> </li>
                    <li class="submenu_item" onclick="location.href='/gamesbygenre'"; style="cursor: pointer;"> <a href="/games?categ=Horror">Horror</a> </li>
                    <li class="submenu_item" onclick="location.href='/gamesbygenre'"; style="cursor: pointer;"> <a href="/games?categ=Indie">Indie</a> </li>
                    <li class="submenu_item" onclick="location.href='/gamesbygenre'"; style="cursor: pointer;"> <a href="/games?categ=Strategy">Strategy</a> </li>
                </ul>
            </li>
            <li class="menu_item"; style="cursor: pointer;">
                <a href="/account">Account</a>
                <ul class="submenu_container">
                    <li class="submenu_item" onclick="location.href='/login'"; style="cursor: pointer;"> <a href="/login">Log in</a> </li>
                    <li class="submenu_item" onclick="location.href=''"; style="cursor: pointer;"> <a href="">Log out</a> </li>
                    <li class="submenu_item" onclick="location.href='/signup'"; style="cursor: pointer;"> <a href="/signup">Sing up</a> </li>
                    
                </ul>
            </li>
        </ul>
    </nav>
    <!--EX6-->

</header>